<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Comments</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
  <h2>All Comments</h2>
  <ul class='comments'>
  <% for(var i=0; i < comments.length; i++) {%>
    <li class='comments'>
      <span><b><%= comments[i].name %></b></span><br /><br />
      <span><%= comments[i].body %></span><br /><br />
    </li>
  <% } %>
  </ul>
</body>
</html>
